:root{
    --primary:#4F4399;
    --secondary:#fff;
}
.Sidebar{
    background-color: var(--secondary);
    height: 100vh;
}
.Sidebar .sidebar-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Sidebar .sidebar-head h4{
    font-size: 20px;
    margin: 0;
}
.Sidebar .sidebar-head svg{
  padding: 0 5px;
}