:root {
    --primary: #551A8B;
    --secondary: #eee;
}

.Dashboard {
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.Sidebar {
    background-color: var(--secondary);
    height: auto;
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.Sidebar .sidebar-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Sidebar .sidebar-head h4 {
    font-size: 16px;
    margin: 0;
}

.Sidebar .sidebar-head svg {
    padding: 0 10px;
}

.Sidebar .searchBar input {
    padding: 10px 10px 10px 40px;
    width: 85%;
    font-size: 13px;
    border: 1px solid #cdcdcd;
    border-radius: 30px;
}

.Sidebar .tabs-section div[role="tablist"] {
    justify-content: space-between;
}

.Sidebar .searchBar {
    padding: 12px 0;
    position: relative;
}

.Sidebar .searchBar>svg {
    position: absolute;
    left: 15px;
    top: 23px;
}

.messageBox {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.messageBox .chatHeadings h5 {
    margin: 0;
    color: var(--primary);
}

.messageBox .chatHeadings {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #b0b0b0;
    width: 100%;
    justify-content: space-between;
}

.css-19kzrtu {
    padding: 0 !important;
}

.messageBox svg {
    font-size: 40px;
}

.messageBox .chatHeadings p {
    margin: 0;
    color: #6f6f6f;
    font-size: 14px;
    padding: 3px 0 0;
}

.messageBox .chatHeadings span {
    font-size: 13px;
}

.status .status1 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 5px;
    border-bottom: 1px solid #b0b0b0;
}

.status .status1 h5 {
    margin: 0;
    color: var(--primary);
}

.status .status1 p {
    margin: 0;
    color: #6f6f6f;
    font-size: 14px;
    padding: 3px 0 0;
}

.status .status1 img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.community {
    text-align: center;
}

.community>img {
    width: auto;
    height: 120px;
}

.community h5 {
    font-size: 18px;
    margin: 0;
}

.community p {
    font-size: 15px;
    text-align: justify;
}

.main-content {
    height: 100vh;
    background-color: #f9f9f9;
}

.main-content .main-header {
    width: 100%;
    max-height: fit-content;
    height: 100%;
    background-color: var(--secondary);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 10px 0;
}

.main-content .main-header .header-Left {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 15px;
}

.main-content .main-header .header-Left h6 {
    margin: 0;
    margin: 0;
    color: var(--primary);
    font-size: 0.83em;
}

.main-content .main-header .header-Left svg {
    font-size: 30px;
}

.main-content .main-header .header-Right {
    float: right;
}

.main-content .main-header .header-Right button svg {
    font-size: 25px;
    margin: 0 10px;
    color: #383838;
}

.main-content .Main-chatBar {
    height: calc(100vh - 60px);
    overflow-y: scroll;
    scrollbar-width: thin;
    background-color: #fff;
}

.main-content .main-bottom {
    height: fit-content;
    width: 100%;
    background-color: #EEEEEE;
    padding: 13px 20px;
}

.main-content .main-searchBar {
    background-color: #fff;
    width: 100%;
    height: auto;
    position: relative;
}

.main-content .main-searchBar>input {
    max-width: 90%;
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: none;
    border-radius: 5px;
}

.main-content .main-searchBar svg {
    position: absolute;
    left: 10px;
    top: 7px;
    font-size: 22px;
    color: black;
}