:root {
    --primary: #4F4399;
    --secondary: #eee;
}

.Sidebar {
    background-color: var(--secondary);
    height: auto;
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.Sidebar .sidebar-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Sidebar .sidebar-head h4 {
    font-size: 16px;
    margin: 0;
}

.Sidebar .sidebar-head svg {
    padding: 0 5px;
}

.Sidebar .searchBar input {
    padding: 10px 10px 10px 40px;
    width: 80%;
    font-size: 13px;
    border: 1px solid #cdcdcd;
    border-radius: 30px;
}

.Sidebar .searchBar {
    padding: 12px 0;
    position: relative;
}

.Sidebar .searchBar>svg {
    position: absolute;
    left: 15px;
    top: 23px;
}

.messageBox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.messageBox .chatHeadings h5 {
    margin: 0;
}

.messageBox .chatHeadings {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #b0b0b0;
    width: 100%;
    justify-content: space-between;
}

.css-19kzrtu {
    padding: 0 !important;
}

.messageBox svg {
    font-size: 40px;
}

.messageBox .chatHeadings p {
    margin: 0;
    color: #6f6f6f;
    font-size: 14px;
    padding: 3px 0 0;
}

.messageBox .chatHeadings span {
    font-size: 13px;
}

.status {}

.status .status1 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 5px;
    border-bottom: 1px solid #b0b0b0;
}

.status .status1 h5 {
    margin: 0;
}

.status .status1 p {
    margin: 0;
    color: #6f6f6f;
    font-size: 14px;
    padding: 3px 0 0;
}

.status .status1 img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.community{
    text-align: center;
}
.community>img {
    width: auto;
    height: 120px;
}
.community h5{
    font-size: 18px;
    margin: 0;
}
.community p{
    font-size: 15px;
    text-align: justify;
}